---
import Layout from '../layouts/Layout.astro';
import MatrixBackground from '../components/MatrixBackground.astro';
import WordCloud from "../components/WordCloud.astro";
import Scoreboard from "../components/Scoreboard.astro";

---

<Layout title="AI and Robotics Club">
    <div id="container">
        <div id="matrix-bg" class="absolute align-top text-gray-300 top-0 left-0">
            <MatrixBackground></MatrixBackground>
        </div>
        <h1 id="header" class="text-5xl text-center h-0">AI and Robotics Club</h1>
    </div>
    <div>
        <Scoreboard></Scoreboard>
    </div>
    <div>
        <WordCloud></WordCloud>
    </div>
</Layout>
<style>
    #container {
        width: 100%;
        height: 800px;
        position: relative;
        overflow: hidden;
    }
    #matrix-bg {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
        text: gray-300;
    }
    #header {
        z-index: 10;
        position: relative;
        top: 100px;
        height: 0px;
    }
</style>