---
import Layout from '../layouts/Layout.astro';
import MatrixBackground from '../components/MatrixBackground.astro';
import WordCloud from "../components/WordCloud.astro";
import Scoreboard from "../components/Scoreboard.astro";
import AboutInfo from "../components/AboutInfo.astro";
import NavBar from "../components/NavBar.astro";
import SidewaysHeader from "../components/SidewaysHeader.astro";
import DarkMode from "../components/DarkMode.astro";
import Calendar from "../components/Calendar.astro";
import Footer from "../components/Footer.astro";
import loadLocale from '../scripts/locale.js';
let l = loadLocale("en");

const navBarLength = 10;
---

<Layout title="AI and Robotics Club" class="darkMode">
    <div class="dynamicNav">
    <NavBar width={navBarLength}></NavBar>
    </div>
    <div id="main-body" class="p-0 m-0">
        <DarkMode />
        <div id="container">
            <div id="matrix-bg" class="absolute align-top text-gray-300 top-0 left-0">
                <MatrixBackground length=17 amplitude=5 period=40 falloff=2 flip="false"></MatrixBackground>
            </div>
            <h1 id="header" class="text-5xl text-center h-200 top-16">Robotics<br>and AI<br>Club</h1>
            <h2 id="header-join" class="text-3xl text-center top-32">
              <a class="hover-3 dark:text-white" href="https://ieconnects.ie.edu/feeds?type=club&type_id=300003041&tab=home" target="_blank">
                {l("index:action")}
              </a>
            </h2>
        </div>
        <div style="position:relative;">
            <SidewaysHeader title="club.about"></SidewaysHeader>
            <AboutInfo></AboutInfo>
        </div>
        <p style="padding-top: 200px;"></p>
        <div style="position:relative;">
            <SidewaysHeader title="club.scoreboard"></SidewaysHeader>
            <Scoreboard></Scoreboard>
        </div>
        <div>
            <WordCloud></WordCloud>
        </div>
    </div>
    <Calendar></Calendar>
    <div class="my-32"/>
    <Footer />
    </div>

</Layout>
<style>
    #container {
        width: 100%;
        height: 800px;
        position: relative;
        overflow: hidden;
    }
    #header, #header-join {
        z-index: 10;
        position: relative;
    }

    @media (max-width: 1215px) {
      .dynamicNav {
        display: none;
      }
    }

    .hover-3 {
  --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  /* color: #0000; */
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
.hover-3:hover {
  --_p: 100%;
  --_s: .3s;
  color: var(--c);
}
</style>
