---
import Layout from '../layouts/Layout.astro';
import MatrixBackground from '../components/MatrixBackground.astro';
import WordCloud from "../components/WordCloud.astro";
import Scoreboard from "../components/Scoreboard.astro";

---

<Layout title="AI and Robotics Club">
    <div id="container">
        <MatrixBackground length=17 amplitude=5 period=40 falloff=2 flip="false"></MatrixBackground>
        <h1 id="header" class="text-5xl text-center h-200 top-16">AI and<br>Robotics<br>Club</h1>
        <h2 id="header-join" class="text-3xl text-center top-32">JOIN</h2>
    </div>
    <Scoreboard></Scoreboard>
    <WordCloud></WordCloud>
    <!-- <MatrixBackground length=17 amplitude=5 period=40 falloff=2 flip="true"></MatrixBackground> !-->
</Layout>
<style>
    #container {
        width: 100%;
        height: 800px;
        position: relative;
        overflow: hidden;
    }
    #header, #header-join {
        z-index: 10;
        position: relative;
    }
</style>