---
import Layout from '../layouts/Layout.astro';
import MatrixBackground from '../components/MatrixBackground.astro';
import WordCloud from "../components/WordCloud.astro";
import Scoreboard from "../components/Scoreboard.astro";
import AboutInfo from "../components/AboutInfo.astro";
import NavBar from "../components/NavBar.astro";
import SidewaysHeader from "../components/SidewaysHeader.astro";
import DarkMode from "../components/DarkMode.astro";
import Calendar from "../components/Calendar.astro";
import Footer from "../components/Footer.astro";
import loadLocale from '../scripts/locale.js';
let l = loadLocale("en");

const navBarLength = 10;
---

<Layout title="AI and Robotics Club" class="darkMode">
    <NavBar width={navBarLength}></NavBar>
    <div id="main-body" style>
        <DarkMode />
        <div id="container">
            <div id="matrix-bg" class="absolute align-top text-gray-300 top-0 left-0">
                <MatrixBackground length=17 amplitude=5 period=40 falloff=2 flip="false"></MatrixBackground>
            </div>
            <h1 id="header" class="text-5xl text-center h-200 top-16">AI and<br>Robotics<br>Club</h1>
            <h2 id="header-join" class="text-3xl text-center top-32">
              <a href="https://ieconnects.ie.edu/feeds?type=club&type_id=300003041&tab=home" target="_blank">
                JOIN
              </a>
            </h2>
        </div>
        <div style="position:relative;">
            <AboutInfo></AboutInfo>
            <SidewaysHeader title="club.about"></SidewaysHeader>
        </div>
        <p style="padding-top: 200px;"></p>
        <div style="position:relative;">
            <Scoreboard></Scoreboard>
            <SidewaysHeader title="club.scoreboard"></SidewaysHeader>
        </div>
        <div>
            <WordCloud></WordCloud>
        </div>
    </div>
    </div>
    <div style="position:relative;">
        <AboutInfo></AboutInfo>
    </div>
    <div style="position:relative; margin-top: 100px;">
        <SidewaysHeader
          title={l("index:scoreboard:title")}>
        </SidewaysHeader>
        <Scoreboard></Scoreboard>
    </div>
    <div>
        <WordCloud></WordCloud>
    </div>
    <Calendar></Calendar>
    <div class="my-32"/>
    <Footer />
    </div>

</Layout>
<style>
    #container {
        width: 100%;
        height: 800px;
        position: relative;
        overflow: hidden;
    }
    #header, #header-join {
        z-index: 10;
        position: relative;
    }
</style>
