---
import Layout from '../layouts/Layout.astro';
import Blob from '../components/Blob.astro';
---

<Layout title="AI and Robotics Club">
  <div>
    <h1 class="text-3xl text-center">AI and Robotics Club</h1>
    <Blob size=200 color="blue">
      <h1 class="text-white">Who we are</h2>
    </Blob>
    <Blob size=300 color="#000066" image="https://static6.campusgroups.com/upload/ie/2023/web_upload_300295549DSC02463_31785110_crop.jpg">
    </Blob>
  </div>
</Layout>
