---
---

<div>
    <p id="body">IE University has recently unveiled a new Robotics & AI Lab, located at IE Tower in Madrid. There, students are
        able to put their learning to the test and develop real projects using state-of-the-art computers, devices and
        materials. All students interested in robotics, programming and artificial intelligence looking to translate
        their theoretical knowledge into tangible projects are welcome.</p>
</div>
<style>
    #body{
        text-align: justify;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }
</style>