---
import loadLocale from '../scripts/locale.js';
import SidewaysHeader from "../components/SidewaysHeader.astro";
let l = loadLocale("en");
---

<div>
    <p id="body">
    {l("index:about:content")}
    </p>
</div>
<style>
    #body{
        text-align: justify;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        height: auto;
    }

    @media (max-width: 768px) {
        #body {
          width: 80vw;
        }
    }

</style>