---
import ical from 'node-ical';
let URL = import.meta.env.ICAL || "https://ieconnects.ie.edu/ical/ical_club_300003041.ics"
const webEvents = await ical.async.fromURL(URL);
let events = Object.values(webEvents).map((event) => {
  return {
    title: event.summary?.val,
    start: new Date(event.start),
    url: event.url,
    description: event.description
  };
})
events = events.sort((a, b) => {
  return a.start - b.start;
}).filter((event) => {
  return event.start > new Date();
});
---
<h1>Upcoming Events</h1>
<table>
<thead>
    <tr>
        <th>Title</th>
        <th>Start</th>
        <th>URL</th>
    </tr>
</thead>
{events.map((event) => (
  <tr>
    <td>{event.title}</td>
    <td>{event.start}</td>
    <td>{event.url}</td>
  </tr>
))}
</table>
