---
let theme = 'light';
---

<div class="fixed top-3 right-3 z-10 w-fit bg-transparent rounded-full">
  <button id="themeSwitch" class="bg-transparent text-xl">{theme === 'dark' ? '🔆' : '🌙'}</button>
</div>

<style>
  :global(.dark) {
    color-scheme: dark;
  }

  #themeSwitch {
    font-family: 'Iosevka', monospace;
    margin: 0;
    padding: 0;
    border-radius: 20px;
    appearance: none;
    width: fit-content;
    padding: 5px 10px;
  }
</style>

<script>
  const button = document.getElementById('themeSwitch');
  let currentTheme = window.localStorage.getItem('theme') || 'light';

  function updateTheme(value) {
    document.documentElement.classList.remove('light', 'dark');
    document.documentElement.classList.add(value);
    localStorage.setItem('theme', value);
  }

  updateTheme(currentTheme);

  button.addEventListener('click', () => {
    if (currentTheme === 'dark') {
      button.innerHTML = '🌙';
      updateTheme('light');
      currentTheme = 'light';
    } else {
      button.innerHTML = '🔆';
      updateTheme('dark');
      currentTheme = 'dark';
    }
  });
</script>
