---
interface Props {
    width: number;
}
const { width, } = Astro.props;
---
<div id="NavBarWidthPass" style="display: none;">{width}</div>


<div>
    <div id="burgerToggleContainer">
        <button class="toggle"><img id = "burgerIcon" src="../../public/burger.png" alt="burger"></button>
    </div>
    <div>
        <ul id = "navBarUL" class="navBar">
            <il><a href="">Home</a></il>
            <il><a href="../blog">Blog</a></il>
        </ul>
    </div>
</div>
<script>
    const width = document.getElementById("NavBarWidthPass").innerHTML;
    const navElement = document.getElementById("navBarUL");
    navElement.style.width = width + "%"
    const mainElement = document.getElementById("main-body");

    function burgerToggle() {
        if (navElement.style.display === "none") {
            navElement.style.display = "block"
            mainElement.style.marginLeft = width + "%";
        } else {
            navElement.style.display = "none";
            mainElement.style.marginLeft = 0 + "px";
        }
    }

    const buttons = document.querySelectorAll('button.toggle');
    buttons.forEach((button) => {
        button.addEventListener('click', () => {
            burgerToggle();
        });
    });
</script>
<style>
    #burgerIcon{
        width: 40px;
        padding: 10px;
    }
    #burgerToggleContainer{
        position: fixed;
        z-index:11;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding-top: 100px;
        background-color: #d5d5d5;
        position: fixed;
        height: 100%;
        overflow: auto;
        z-index: 10;
    }

    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }

    li a.active {
        background-color: #04AA6D;
        color: white;
    }

    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
</style>