---
const maxCommits = 2000;

let users = [
    {
        username: 'velocitatem',
        id: 60182044,
        date: '2023-09-18T15:24:03.223Z',
        followers: 15,
        commits: 1536,
        pull_requests: 177,
        stars: 62,
        following: 30,
        public_repos: 30,
        public_gists: 21,
        diff: 20
    },
    {
        username: 'dsanmart',
        id: 92187824,
        date: '2023-09-18T15:24:03.223Z',
        followers: 5,
        commits: 232,
        pull_requests: 5,
        stars: 7,
        following: 5,
        public_repos: 13,
        public_gists: 0,
        diff: 10
    },
    {
        username: 'i-be-keggles',
        id: 50220226,
        date: '2023-09-18T15:24:03.223Z',
        followers: 1,
        commits: 26,
        pull_requests: 4,
        stars: 0,
        following: 2,
        public_repos: 5,
        public_gists: 0,
        diff: 3
    }
];
---

<div style="text-align: center;"><h2>Github Rankings</h2></div>
<table class="center">
    <tr>
        <th>USER</th>
        <th><div style="margin-right: 40px;">CONTRIBUTIONS</div></th>
        <th>PAST 24hr</th>
    </tr>
    <tr>
        <td>Sample user</td>
        <td>12345</td>
        <td style="text-align: center;">123</td>
    </tr>
    <tbody>
    {users.map((user) => (
            <tr>
                <td>
                    <div style="text-align: center; margin-left: 20px; margin-right: 20px; margin-top:10px;">
                        <a href={"https://github.com/" + user.username} target="_blank">
                            <img src={"https://avatars.githubusercontent.com/u/" + user.id} alt={user.username + " icon"} id="user-icon" class="center" width="50">
                            {user.username}
                        </a>
                    </div>
                </td>
                <td>
                    <div>
                        <div style="margin-top: 10px;">
                            <progress id="progress" value={user.commits} max={maxCommits}></progress>
                        </div>
                        <div>
                            {user.commits + " commits, " + user.pull_requests + " pull requests"}
                        </div>

                    </div>
                </td>
                <td style="text-align: center;">{user.diff}</td>
            </tr>
    ))}
    </tbody>
</table>
<style>
    table, th, td {
        //border: 1px solid black;
        border-bottom: 1px solid black;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
    #user-icon{
        border-radius: 50%;
    }

    progress{
        -webkit-appearance: none;
        appearance: none;

        width: 400px;
        height: 10px;
        border-radius: 100%;
    }
    progress[value]::-webkit-progress-bar {
        background-color: #eee;
        border-radius: 10px;
        //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    progress[value]::-webkit-progress-value {
        border-radius: 10px;
    //box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
</style>