---
---

<pre id="word_cloud">
    <div id="wordCloudWords"></div>
    <div id="wordCloudDE"></div>
</pre>
<style>
    #wordCloudWords{
        font-size: 32px;
        position: absolute;
        line-height:32px;
    }
    #wordCloudDE{
        font-size: 16px;
        position: relative;
        top:-24px;
        line-height: 16px;
    }
</style>


<script>
    const chars = `abcdefghijklmnopqrstuvwxzABCDEFGHIJKLMNOPQRSTUVWZ1234567890!@#$%^&*()_+-=`;

    const width = 70;
    const height = 15;
    const words = ["AI", "ROBOTICS", "CODE", "IE", "MACHINE LEARNING", "CODE", "FUTURE"];

    let wordText = "";

    function randomChar(){
        return chars[Math.floor(Math.random() * (chars.length - 1))];
    }

    function posToStringIndex(pos, width){
        return Math.floor(pos[0] + pos[1] * (width+2));
    }

    function isSpaceFree(word, pos, boundx){
        if(pos[0] + word.length > boundx) return false;

        for(let x = pos[0]; x < word.length; x ++)
            if(wordText[posToStringIndex([x, pos[1]], width)] != " ") return false;
        return true;
    }

    class Word{
        value;
        position;
        constructor (string, boundx, boundy, buffer){
            this.value = string;
            this.position = [-1];
            while (this.position[0] == -1 || !isSpaceFree(this.value, this.position, boundx)){
                this.position = [Math.floor(boundx*buffer + Math.random() * (boundx - boundx*buffer - 1)),
                    Math.floor(boundy*buffer + Math.random() * (boundy - boundy*buffer - 1))]
            }
        }
    }

    function generateCloudWords(elementId){
        wordText = "";
        for(let i = 0; i < height; i++) wordText += "\n".padStart(width+2, " ");

        for(let i = 0; i < words.length; i ++){
            let word = new Word(words[i], width, height, 0.2);
            //word.position = [0,0];
            wordText = wordText.substring(0, posToStringIndex(word.position, width)) +
                word.value +
                wordText.substring(posToStringIndex(word.position, width) + word.value.length);
        }

        const element = document.getElementById(elementId);
        element.innerText = wordText;
    }

    function generateCloudMatrix(width, height){
        let string = "";
        for(let y = 0; y < height; y++){
            for(let x = 0; x < width; x++){
                if(wordText[posToStringIndex([x/2, Math.floor(y/2)], width/2)] == " ") string += randomChar();
                else string += " ";
            }
            string += "\n";
        }
        return string;
    }

    const generateCloudAndUpdateElement = (elementId, delay) => {
        const element = document.getElementById(elementId);

        const update = () => {
            const cloud = generateCloudMatrix(width*2, height*2);
            element.innerText = cloud.toString();
            setTimeout(update, delay);
        };

        setTimeout(update, delay);
    };

    generateCloudWords("wordCloudWords");
    generateCloudAndUpdateElement("wordCloudDE", 50);

</script>